<html>
  <head>
    <title>AnonX - Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/assets/homeStyle.css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/public/assets/images/favicon.ico"
    />
  </head>
  <body>
    <a name="top"></a>
    <div class="header">
      <div class="header-logo">
        <a href="/"><img src="/public/assets/images/logo.png" /></a>
      </div>
      <div class="header-search">
        <form action="/search" method="get">
          <input type="text" placeholder="Search" name="searchTag"/>
        </form>
      </div>
      <div class="header-profile">
        <img src="/public/assets/images/profilePic.jpg" onclick="menu()" />
      </div>
    </div>
    <div class="header-menu">
      <table>
        <tr>
          <td><a href="/profile">Profile</a></td>
        </tr>
        <tr>
          <td><a href="/add/<%= user.id %>">Create post</a></td>
        </tr>
        <tr>
          <td><a href="/logout">Log out</a></td>
        </tr>
      </table>
    </div>
    <button class="button-PostPage">
      <a href="/add/<%= user.id %>">Create a post</a>
    </button>
    <button class="scrollbutton" onclick="scrollUp()">Back to Top</button>

    <% for (let i = posts.length - 1; i >= 0; i--){ %>
      <div class="post-container">
        <% if (posts[i].userId == user._id) { %>
        <a href="edit/<%= posts[i]._id %>"> <img src="/public/assets/images/pencil.png"/> </a>
        <a href="delete/<%= posts[i]._id %>"> <img src="/public/assets/images/trash.png" /> </a>
        <%} %>
        <p class="username">
          <% if (posts[i].anon == "true") { %>
          Anonymous
          <%} else {%>
            <%= posts[i].username %>
          <%} %>
        </p>
        <p><%= posts[i].post %></p>
        <div class="tag-container"> Tag:  <%= posts[i].tag %> </div>
        <hr />
        <% for (let j = 0; j < comments.length; j++){ %>
          <div class="comment-container">
          <% if (comments[j].mainPostId == posts[i]._id) { %>
            <% if (comments[j].username == user.username) { %>
              <% if (comments[j].anon == "true") { %>
                  <a href="editComment/<%= comments[j]._id %>"> <img src="/public/assets/images/pencil.png"/> </a>
                  <a href="deleteComment/<%= comments[j]._id %>"> <img src="/public/assets/images/trash.png" /> </a>
                  <p class="username-comment comment-text">Anonymous</p>
                <% } else if (comments[j].anon == "false"){%>
                  <a href="editComment/<%= comments[j]._id %>"> <img src="/public/assets/images/pencil.png"/> </a>
                  <a href="deleteComment/<%= comments[j]._id %>"> <img src="/public/assets/images/trash.png" /> </a>
                  <p class="username-comment comment-text"><%= comments[j].username %></p>
                <% } %> 
              <% } else {%> 
                <% if (comments[j].anon == "true") { %>
                  <p class="username-comment comment-text">Anonymous</p>
                <% } else if (comments[j].anon == "false"){%>
                  <p class="username-comment comment-text"><%= comments[j].username %></p>
                <% } %> 
              <% } %> 
              <p class="comment-text"><%= comments[j].comment %></p>
              <hr />
          <% } %> 
          </div>
        <% } %> 
            
            <form action="/comment/<%= posts[i]._id %>" method="post">
              <div class="comment-container">
                <p style="position:relative; left:-4.5%;">Anonymous:</p>
                <input type="radio" name="anonToggle" id="on" value="true" checked/>
                <label for="on"">On</label>
                <input type="radio" name="anonToggle" id="off" value="false" />
                <label for="off">Off</label>
                <input type="text"  id="cmnt" name="cmnt" style="position:relative; left:5; width: 80%;"  placeholder="Comment here" />
              </div>
            </form>
          </div>
          
      <% } %> 
      <script src="../public/js/script.js"></script>
  </body>
</html>
