<html>
    <head>
        <title> AnonX - profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/main-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="logo">
                    <a href="/">AnonX</a>
                </div>
                <div class="search">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search" name="searchTag"/>
                      </form>
                </div>
                <div class="topnav-profile-logout">
                    <div class="profile"> 
                        <a href="/">Home</a>
                        <a href="/profile">Profile</a>
                    </div>
                    <div class="logout">
                        <a href="/logout">Log out</a>
                    </div>
                </div>
            </div>

            <div class="main">
                <!-- Side Navigation Bar -->
                <div class="sidenav">
                    <div class="tabs">
                        <a href="/">Home</a>
                        <a href="/profile" class="active">Profile</a>
                    </div>
                    <div class="create">
                        <a href="/add/<%= profile.id %>">Create Post</a>
                    </div>
                </div>

                <!-- Profile Header -->
                    <div class="profile-right">
                        <div class="profile-top">
                            <div class="profile-picture">
                                <img src="/public/assets/images/anon-avatar.png" class="rounded-circle" alt="profile picture" width="193">
                            </div>
                            <div class="profile-top-right">
                                <div class="profile-name-edit">
                                    <div class="profile-username">
                                        <h1 class="header"><%= profile.username %></h1>
                                    </div>
                                    <div class="profile-edit">
                                        <a href="/editProfile">Edit Profile</a>
                                    </div>
                                </div>
                                <div class="profile-bio">
                                    <p class="bio"><%= profile.bio %></p>
                                </div>
                            </div>
                            
                        </div>
                        
                        <!-- Profile Content -->
                        <div class="profile-bottom">
                            <div class="profile-post">
                                <h2 class="header">Posts</h2>
                            </div>
        
                            <div class="container-profile-posts">
                                <!-- Block posts -->
                                <% for (let i = posts.length - 1; i >= 0; i--){ %>
                                <div class="block-post">
                                    <h3 class="post-title"> <p></p> <%= posts[i].title %></h3>
                                        <h5 class="post-author">
                                        <p>by: 
                                            <% if (posts[i].anon == "true") { %>
                                                Anonymous
                                            <%} else {%>
                                                <%= posts[i].username %>
                                            <%} %>
                                        </p></h5>
                                        <div class="post-edit">
                                            <a href="edit/<%= posts[i]._id %>">Edit</a>
                                        </div>
                                        <div class="post-delete">
                                            <a href="delete/<%= posts[i]._id %>">Delete</a>
                                        </div>
                                        <div class="post-content">
                                            <p><%= posts[i].post %></span></p>
                                            <button onclick="myFunction()" id="seemorebtn">See more</button>
                                        </div>
                                        <div class="post-tag">
                                            <p>Tag: <%= posts[i].tag %></p>
                                        </div>

                                        <% for (let j = 0; j < comments.length; j++){ %>
                                            <div class="comment-container">
                                            <% if (comments[j].mainPostId == posts[i]._id) { %>
                                              <% if (comments[j].username == profile.username) { %>
                                                <% if (comments[j].anon == "true") { %>
                                                    <a href="editComment/<%= comments[j]._id %>"> Edit </a>
                                                    <a href="deleteComment/<%= comments[j]._id %>"> Delete </a>
                                                    <p class="username-comment comment-text">Anonymous</p>
                                                  <% } else if (comments[j].anon == "false"){%>
                                                    <a href="editComment/<%= comments[j]._id %>"> <img src="/public/assets/images/pencil.png"/> </a>
                                                    <a href="deleteComment/<%= comments[j]._id %>"> <img src="/public/assets/images/trash.png" /> </a>
                                                    <p class="username-comment comment-text"><%= comments[j].username %></p>
                                                  <% } %> 
                                                <% } else {%> 
                                                  <% if (comments[j].anon == "true") { %>
                                                    <p class="username-comment comment-text">Anonymous</p>
                                                  <% } else if (comments[j].anon == "false"){%>
                                                    <p class="username-comment comment-text"><%= comments[j].username %></p>
                                                  <% } %> 
                                                <% } %> 
                                                <p class="comment-text"><%= comments[j].comment %></p>
                                                <hr />
                                            <% } %> 
                                            </div>
                                          <% } %> 
                                              
                                              <form action="/comment/<%= posts[i]._id %>" method="post">
                                                <div class="comment-container">
                                                  <p style="position:relative; left:-4.5%;">Anonymous:</p>
                                                  <input type="radio" name="anonToggle" id="on" value="true" checked/>
                                                  <label for="on"">On</label>
                                                  <input type="radio" name="anonToggle" id="off" value="false" />
                                                  <label for="off">Off</label>
                                                  <input type="text"  id="cmnt" name="cmnt" style="position:relative; left:5; width: 80%;"  placeholder="Comment here" />
                                                </div>
                                              </form>
                                            </div>
                                    </div>
                                <% } %>
                            </div>
                                <!-- End of Block Post -->
                            </div>
                        </div>
            </div>
            </div>
        </div>
        
        <!-- See More Script -->

        <script>
            function myFunction() {
              var dots = document.getElementById("dots");
              var moreText = document.getElementById("more");
              var btnText = document.getElementById("seemorebtn");
            
              if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "See more"; 
                moreText.style.display = "none";
              } else {
                dots.style.display = "none";
                btnText.innerHTML = "See less"; 
                moreText.style.display = "inline";
              }
            }
            </script>
    </body>
</html>