<html>
    <head>
        <title> AnonX - profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/main-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="logo">
                    <a href="/">AnonX</a>
                </div>
                <div class="search">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search for a tag" name="searchTag"/>
                      </form>
                </div>
                <div class="topnav-profile-logout">
                    <div class="profile"> 
                        <a href="/">Home</a>
                        <a href="/profile">Profile</a>
                        <a href="/about" class="active">About</a>
                    </div>
                    <div class="logout">
                        <a href="/logout">Log out</a>
                    </div>
                </div>
            </div>

            <div class="main">
                <!-- Side Navigation Bar -->
                <div class="sidenav">
                    <div class="tabs">
                        <a href="/">Home</a>
                        <a href="/profile" class="active">Profile</a>
                        <a href="/about" class="active">About</a>
                    </div>
                    <div class="create">
                        <a href="/add/<%= profile.id %>">Create Post</a>
                    </div>
                </div>

                <!-- Profile Header -->
                    <div class="profile-right">
                        <div class="profile-top">
                            <div class="profile-picture">
                                <img src="/public/assets/images/user.png" class="rounded-circle" alt="profile picture" width="193">
                            </div>
                            <div class="profile-top-right">
                                <div class="profile-name-edit">
                                    <div class="profile-username">
                                        <h1 class="header"><%= profile.username %></h1>
                                    </div>
                                    <div class="profile-edit">
                                        <a href="/editProfile">Edit Profile</a>
                                    </div>
                                </div>
                                <div class="profile-bio">
                                    <p class="bio"><%= profile.bio %></p>
                                </div>
                            </div>
                            
                        </div>
                        
                        <!-- Profile Content -->
                        <div class="profile-bottom">
                            <div class="profile-post">
                                <h2 class="header">Posts</h2>
                            </div>
                            <% for (let i = posts.length - 1; i >= 0; i--){ %>
                            <div class="container-profile-posts">
                                <!-- Block posts -->
                                <div class="block-post">
                                    <h3> <%= posts[i].title %></h3>
                                        <h5 class="post-author">
                                        <p class="username">
                                            <% if (posts[i].anon == "true") { %>
                                                by: Anonymous
                                              <%} else if(posts[i].userId == profile._id) { %>
                                                by: <%= profile.username %>
                                              <%} else {%>
                                                by: <%= posts[i].username %>
                                              <%} %>
                                        </p></h5>
                                        <div class="post-edit">
                                            <a href="edit/<%= posts[i]._id %>">Edit</a>
                                        </div>
                                        <div class="post-delete">
                                            <a href="delete/<%= posts[i]._id %>">Delete</a>
                                        </div>
                                        <div class="post-content">
                                            <p><%= posts[i].post %></span></p>
                                        </div>
                                        <div class="post-tag">
                                            <p>Tag: <%= posts[i].tag %></p>
                                            <br>
                                        </div>
                                        <hr />
                                        <% for (let j = 0; j < comments.length; j++){ %>
                                            <div class="comment-container">
                                            <% if (comments[j].mainPostId == posts[i]._id) { %>
                                              <% if (comments[j].userId == profile._id) { %>
                                                <% if (comments[j].anon == "true") { %>
                                                    <a class="comment-edit" href="editComment/<%= comments[j]._id %>"> Edit </a>
                                                    <a class="comment-delete" href="deleteComment/<%= comments[j]._id %>"> Delete </a>
                                                    <p class="userUsernameComment comment-text">Anonymous</p>
                                                  <% } else if (comments[j].anon == "false"){%>
                                                    <a class="comment-edit" href="editComment/<%= comments[j]._id %>"> Edit </a>
                                                    <a class="comment-delete" href="deleteComment/<%= comments[j]._id %>"> Delete </a>
                                                    <p class="userUsernameComment comment-text"><%= profile.username %></p>
                                                  <% } %> 
                                                <% } else {%> 
                                                  <% if (comments[j].anon == "true") { %>
                                                    <p class="username-comment comment-text">Anonymous</p>
                                                  <% } else if (comments[j].anon == "false"){%>
                                                    <p class="username-comment comment-text"><%= comments[j].username %></p>
                                                  <% } %> 
                                                <% } %> 
                                                <p class="comment-text"><%= comments[j].comment %></p>
                                                <br>
                                                <hr />
                                            <% } %> 
                                            </div>
                                          <% } %> 
                                              
                                              <form action="/comment/<%= posts[i]._id %>" method="post">
                                                <div class="comment-input">
                                                    <label style="position: relative; left: 20px;">Anonymous: <input name="anonToggle" type="checkbox"  value="on" ></label>
                                                    <input type="text"  id="cmnt" name="cmnt" style="position:relative; left:25; width: 80%;"  placeholder="Comment here" />
                                                </div>
                                              </form>
                                            </div>
                                    </div>
                                <% } %>
                            </div>
                                <!-- End of Block Post -->
                            </div>
                        </div>
            </div>
    </body>
</html>