<html>
    <head>
        <title> AnonX - edit post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/css/main-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/"><img src="/public/assets/images/logo.png" /></a>
                </div>
                <div class="search">
                  <form action="/search" method="get">
                    <input type="text" placeholder="Search for tags" name="searchTag">
                  </form>
                </div>
                <div class="dropdown" style="float:right;">
                  <img src="/public/assets/images/user.png" style="height:100%; width:100%" onclick="menu()" class="dropbtn">
                  <div id="dropcontent" class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/about">About</a>
                    <a href="/add/<%= user.id %>">Create post</a>
                    <a href="/logout">Log out</a>
                  </div>
                </div>
            </div>

        
        <!-- Edit post -->
        <div class="mainDiv" style="margin-top: 50px;">
            <form action="/update" method="post">
                <input type="hidden" value="<%= posts.id %>" name="id">
                  
                    <h2> Edit your post </h2> <br><br>
                   
                        <label>Title:</label> <br>
                        <input type="text" value="<%= posts.title %>" size="100%" id="title" name="title" class="titleText" placeholder="Maximum of 40 characters" maxlength="40" required> <br>
                    
                        <label>Post:</label> <br>
                        <textarea type="text" id="post" class="postText" placeholder="Maximum of 120 characters (optional)" name="postText" maxlength="120"><%= posts.post %></textarea><br><br>
                
                        <label>Tag:</label> <br>
                        <input type="text" id="tags" name="tag" class="tagText" value="<%= posts.tag %>"placeholder="#tags" maxlength="20" size="100%" required> <br>
                 
                        <label>Anonymous:</label> <br>
                            <% if (posts.anon == "true") { %>
                                <input name="anonToggle" type="checkbox" value="on" checked>
                            <%} else {%>
                                <input name="anonToggle" type="checkbox" value="on">
                            <%} %>
                                
                            <br><br>
                        <input type="submit" value="Update" id="submitButton" class="submitButton">
                        <input type="button" value="Cancel" class="submitButton" onclick="window.location='/profile'"/>
                   
            </form>
        </div>
    </body>
</html>